<div class="video-js-box">
<%= videojs_rails sources: { mp4: "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4", webm: "http://another.com/path/to/video.webm" }, height: "390", width:"640" %>
</div>





